/* src/styles/index.css */

/* Import Tailwind CSS base styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

/* Global Styles */
body {
  font-family: 'Inter', sans-serif;
  background-color: #000000;
  color: #FFF;
}

html {
  scroll-behavior: smooth; /* This can be used for default smooth scrolling */
}

/* Tailwind utility classes for section padding */
section {
  padding: 4rem 2rem;
}
